Recommendy/.vs
Recommendy/bin
Recommendy/obj
Recommendy/appsettings.json

RecommendyUnitTests/.vs
RecommendyUnitTests/bin
RecommendyUnitTests/obj

Entities/.vs
Entities/bin
Entities/obj

Repository/.vs
Repository/bin
Repository/obj


Contracts/.vs
Contracts/bin
Contracts/obj


Service.Contracts/.vs
Service.Contracts/bin
Service.Contracts/obj

Service/.vs
Service/bin
Service/obj


Shared/.vs
Shared/bin
Shared/obj

Presentation/.vs
Presentation/bin
Presentation/obj



Recommendy/wwwroot/*
!Recommendy/wwwroot/.gitkeep


