Recommendy/Repository/.vs
Recommendy/Repository/bin
Recommendy/Repository/obj

Recommendy/Entities/.vs
Recommendy/Entities/bin
Recommendy/Entities/obj

Recommendy/Recommendy/.vs
Recommendy/Recommendy/bin
Recommendy/Recommendy/obj